<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DeliveryCountMin" value="5" />
    <add key="DeliveryCountMax" value="6" />
    <add key="TaskIntervalMin" value="10" />
    <add key="TaskIntervalMax" value="20" />
    <add key="ExpirationTime" value="30" />
    <!--Available values are: Sqlite, Json.-->
    <add key="StorageType" value="Sqlite" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>